<div class="container">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title fw-bold">What I can do for you</h5>
            <p class="card-text">I can take away these tasks from you, so that you can focus on the strategic decisions
                that
                will drive your
                business forward.</p>
            <div class="d-flex justify-content-center">
                <ul class="d-flex flex-column justify-content-start">
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Customer Service</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Calendar Management</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Email Management</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Personal Errands</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Research</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Data Entry</p>
                    </li>
                </ul>
                <ul class="list-group mx-2">
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Translations/Transcriptions</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Bookkeeping/Billing/Invoicing</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Travel Planning</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">Website Management</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <img src="images/Forward.png" style="height: 22px;" alt="">
                        <p class="mx-3">and more...</p>
                    </li>
                    <li class="list-group-item d-flex" style="border: none;">
                        <a href="#contact" type="button" class="btn btn-dark">Hire me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
