<% layout('layout/index') %>
<div class="card my-3 about-container" style="background-color: #944F26; border: none;" id="about">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title fw-bold">About My Self</h5>
                <p class="card-text">My name is Camille Dimpas, I started my career as a VA... Lorem Ipsum is
                    simply dummy
                    text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever
                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen
                    book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining
                    essentially unchanged. but also the leap into electronic typesetting, remaining
                    essentially unchanged.</p>
                <p>
                    <button class="btn btn-dark mt-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        See more
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card about-collapse" style="background-color: #944F26; border: none;">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also
                            the leap
                            into electronic typesetting, remaining essentially unchanged.</p>
                        <h3>What drives me to be the best?</h3>
                        <p>I provide the services you need to get your company’s products or services in front
                            of your audience. I
                            work in the creation and implementation of general marketing strategies applicable
                            across your business.</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4 text-center">
            <img src="images/camille-about.png" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>
</div>