<% layout('layout/index') %>
<div class="container" id="services">
    <div class="d-flex flex-wrap justify-content-center bg-dark">
        <h5 class="my-3 fw-bold text-light justify-content-center">Services</h5>
        <div class="d-flex flex-wrap justify-content-center mx-3 my-3 services-container">
            <div class="col mx-3 my-3 services-panel">
                <div class=" card h-100">
                    <div class="services-panel-info">
                        <p class="fw-bold px-2 py-2">2 hours/day</p>
                        <p class="fw-bold services-panel-dollarsign">$</p>
                        <h2 class="services-panel-value">50</h2>
                        <p class="services-panel-week">/week</p>
                    </div>
                    <ul class="list-group list-group-flush mt-4">
                        <li class="list-group-item mt-2">Customer Service</li>
                        <li class="list-group-item mt-2">Calendar Management</li>
                        <li class="list-group-item mt-2">Email Management</li>
                        <li class="list-group-item mt-2">Personal Errands</li>
                        <li class="list-group-item mt-2">More...</li>
                    </ul>
                    <div class="card-footer pt-3 mt-3 bg-secondary text-center services-panel-button" type="button">
                        <a href="#contact" class="fs-4 text-decoration-none text-light">Contact me</a>
                    </div>
                </div>
            </div>
            <div class="col mx-3 my-3 services-panel">
                <div class="card h-100">
                    <div class="services-panel-info">
                        <p class="fw-bold px-2 py-2">8 hours/day</p>
                        <p class="fw-bold services-panel-dollarsign">$</p>
                        <h2 class="services-panel-value">160</h2>
                        <p class="services-panel-week value-160">/week</p>
                    </div>
                    <ul class="list-group list-group-flush mt-4">
                        <li class="list-group-item mt-2">Customer Service</li>
                        <li class="list-group-item mt-2">Calendar Management</li>
                        <li class="list-group-item mt-2">Email Management</li>
                        <li class="list-group-item mt-2">Personal Errands</li>
                        <li class="list-group-item mt-2">More...</li>
                    </ul>
                    <div class="card-footer pt-3 mt-3 bg-secondary text-center services-panel-button" type="button">
                        <a href="#contact" class="fs-4 text-decoration-none text-light">Contact me</a>
                    </div>
                </div>
            </div>
            <div class="col mx-3 my-3 services-panel">
                <div class="card h-100">
                    <div class="services-panel-info">
                        <p class="fw-bold px-2 py-2">4 hours/day</p>
                        <p class="fw-bold services-panel-dollarsign">$</p>
                        <h2 class="services-panel-value">90</h2>
                        <p class="services-panel-week">/week</p>
                    </div>
                    <ul class="list-group list-group-flush mt-4">
                        <li class="list-group-item mt-2">Customer Service</li>
                        <li class="list-group-item mt-2">Calendar Management</li>
                        <li class="list-group-item mt-2">Email Management</li>
                        <li class="list-group-item mt-2">Personal Errands</li>
                        <li class="list-group-item mt-2">More...</li>
                    </ul>
                    <div class="card-footer pt-3 mt-3 bg-secondary text-center services-panel-button" type="button">
                        <a href="#contact" class="fs-4 text-decoration-none text-light">Contact me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center bg-light text-dark va-assistant-container">
        <h2 class="pt-5">Why you need a virtual assistant</h2>
        <p class="pt-3">All Virtual Assistants have flexible working hours. Therefore, they can fit their hours into your working schedule, regardless of their location. Having an adjustable work schedule can maximise work performance and productivity all at the fraction of an in-house assistant. For example, while you’ve just woken up in London, getting ready for your work day, your assistant is already on the go working hard to complete the tasks you’ve allocated in South Africa.</p>
    </div>
</div>